.brandname {
  position: absolute;
  top: 13px;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 32px;
}
.navbar-brand {
  position: absolute;
  top: calc(50% - 28.5px);
  left: calc(50% - 525px);
  width: 187px;
  height: 58px;
  overflow: hidden;
}
.navbar-toggler,
.navbar-toggler-icon {
  position: absolute;
  width: 24px;
  height: 13.71px;
}
.navbar-toggler-icon {
  top: 0;
  left: calc(50% - 12px);
}
.navbar-toggler {
  top: 39px;
  left: 1298px;
  overflow: hidden;
}
.a,
.link {
  position: absolute;
  top: 0;
  left: 0;
}
.link {
  letter-spacing: 0.2px;
  line-height: 24px;
}
.a {
  width: 43px;
}
.a,
.a1,
.li,
.li1 {
  height: 24px;
  overflow: hidden;
}
.li {
  position: relative;
  width: 43px;
  flex-shrink: 0;
}
.a1,
.li1 {
  width: 59px;
}
.a1 {
  position: absolute;
  top: 0;
  left: 0;
}
.li1 {
  position: relative;
  flex-shrink: 0;
}
.a2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
}
.a2,
.a3,
.li2,
.li3 {
  height: 24px;
  overflow: hidden;
}
.li2 {
  position: relative;
  width: 52px;
  flex-shrink: 0;
}
.a3,
.li3 {
  width: 58px;
}
.a3 {
  position: absolute;
  top: 0;
  left: 0;
}
.li3 {
  position: relative;
  flex-shrink: 0;
}
.navbar-nav {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 21px;
}
.btn-text {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 20.5px);
  letter-spacing: 0.2px;
  line-height: 22px;
}
.a4,
.nav-item {
  width: 41px;
  height: 22px;
  overflow: hidden;
}
.a4 {
  position: absolute;
  top: 0;
  left: 0;
}
.nav-item {
  position: relative;
  flex-shrink: 0;
}
.btn-text1 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 22px;
}
.icn-arrow-right-icn-xs {
  position: relative;
  width: 12px;
  height: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonbtnprimary-color {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--primary-color);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-6xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.nav-item1 {
  position: relative;
  width: 214px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
}
.navbar-nav1 {
  position: absolute;
  top: calc(50% - 26px);
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
  text-align: right;
}
.collapse-navbar-collapse {
  position: absolute;
  top: 16px;
  left: calc(50% - 297px);
  width: 815px;
  height: 58px;
  overflow: hidden;
  text-align: center;
  font-size: var(--h6-size);
}
.container {
  position: absolute;
  top: 0;
  left: calc(50% - 661px);
  width: 1322px;
  height: 91px;
  overflow: hidden;
}
.h5-header-tag {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: var(--primary-color);
  text-align: left;
}
.h1-headline {
  position: relative;
  font-size: 58px;
  letter-spacing: 0.2px;
  line-height: 80px;
  display: inline-block;
  width: 542px;
  height: 160px;
  flex-shrink: 0;
}
.we-know-how {
  margin: 0;
}
.h4-sub-headline {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 30px;
}
.button-md,
.button-md1 {
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-21xl);
  align-items: center;
}
.button-md {
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
}
.button-md1 {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.button-md1,
.cta,
.main-content,
.row {
  display: flex;
  justify-content: flex-start;
}
.cta {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--h6-size);
}
.main-content,
.row {
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.main-content {
  width: 699px;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  gap: 40px;
}
.row {
  width: 701px;
}
.icon-cool-icon-13 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.fixed-width {
  border-radius: var(--br-3xs);
  background-color: var(--faded-secondary-color-2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-lgi);
  align-items: center;
  justify-content: center;
}
.fixed-width-fixed-height {
  position: relative;
  background-color: var(--danger-color);
  width: 50px;
  height: 2px;
}
.paragraph-feature-description {
  position: relative;
  font-size: var(--h6-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  color: var(--second-text-color);
}
.card {
  background-color: var(--light-text-color);
  box-shadow: var(--accentued-drop-shadow);
  overflow: hidden;
  padding: var(--padding-16xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.card,
.col-md-4 {
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fixed-width1 {
  border-radius: var(--br-3xs);
  background-color: var(--faded-secondary-color-1);
  overflow: hidden;
  padding: var(--padding-3xl) var(--padding-lgi);
  align-items: center;
  justify-content: center;
}
.col-md-41,
.fixed-width1,
.fixed-width2 {
  display: flex;
  flex-direction: column;
}
.col-md-41 {
  width: 329px;
  align-items: flex-start;
  justify-content: flex-start;
}
.fixed-width2 {
  border-radius: var(--br-3xs);
  background-color: var(--light-text-color);
  overflow: hidden;
  padding: var(--padding-3xl) var(--padding-lgi);
  align-items: center;
  justify-content: center;
}
.fixed-width-fixed-height2 {
  position: relative;
  background-color: var(--light-text-color);
  width: 50px;
  height: 2px;
}
.paragraph-feature-description2 {
  position: relative;
  font-size: var(--h6-size);
  letter-spacing: 0.2px;
  line-height: 20px;
}
.card2 {
  background-color: var(--primary-color);
  box-shadow: var(--accentued-drop-shadow);
  width: 328px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-16xl) var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.card2,
.col-md-42,
.container1,
.row1 {
  display: flex;
  justify-content: flex-start;
}
.col-md-42 {
  width: 329px;
  flex-direction: column;
  align-items: flex-start;
  color: var(--light-text-color);
}
.container1,
.row1 {
  align-items: center;
}
.row1 {
  flex-direction: row;
  gap: var(--gap-11xl);
  text-align: left;
  color: var(--dark-background-color);
}
.container1 {
  position: absolute;
  top: 104px;
  left: calc(50% - 523px);
  width: 1046px;
  flex-direction: column;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--h5-size);
}
.header-1 {
  position: relative;
  background-color: var(--dark-background-color);
  width: 1440px;
  height: 1132px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--h3-size);
  color: var(--light-text-color);
}
.fixed-width-fixed-height3 {
  position: relative;
  background-color: var(--danger-color);
  width: 94px;
  height: 7px;
}
.h2-section-title-1,
.paragraph {
  position: relative;
  letter-spacing: 0.2px;
}
.h2-section-title-1 {
  font-size: var(--h2-size);
  line-height: 50px;
}
.paragraph {
  line-height: 20px;
  color: var(--second-text-color);
}
.icon-arrow-next {
  position: relative;
  width: 9px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.a5,
.col-md-5 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.a5 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  color: var(--primary-color);
}
.col-md-5 {
  width: 507px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
.thumb-concept-6-icon {
  position: relative;
  width: 513px;
  height: 395px;
  overflow: hidden;
  flex-shrink: 0;
}
.col-md-6,
.container2,
.row2 {
  display: flex;
  justify-content: flex-start;
}
.col-md-6 {
  width: 513px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
}
.container2,
.row2 {
  align-items: center;
}
.row2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.container2 {
  position: absolute;
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-141xl) 0;
  box-sizing: border-box;
}
.layout-2 {
  position: relative;
  background-color: var(--light-text-color);
  width: 1440px;
  height: 715px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--dark-background-color);
}
.h2-section-title-2,
.h6-section-tag {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.h2-section-title-2 {
  font-size: var(--h2-size);
  line-height: 50px;
  color: var(--dark-background-color);
}
.main-content1,
.row3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-content1 {
  width: 691px;
  gap: var(--gap-3xs);
}
.row3 {
  width: 1044px;
}
.product-cover-66-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.like-icon {
  position: relative;
  border-radius: 44.79px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.product-actions,
.tag {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.product-actions {
  bottom: 24px;
  left: calc(50% - 70px);
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.tag {
  top: 20px;
  left: 20px;
  border-radius: var(--br-10xs);
  background-color: var(--danger-color);
  box-shadow: var(--light-drop-shadow);
  padding: 0 var(--padding-3xs);
  align-items: center;
}
.fixed-height {
  align-self: stretch;
  position: relative;
  height: 300px;
  overflow: hidden;
  flex-shrink: 0;
}
.link-product-category-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-emojione-star {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.small {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
}
.frame-group,
.icon-emojione-star-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-emojione-star-parent {
  border-radius: var(--br-xl);
  background-color: var(--dark-background-color);
  padding: var(--padding-8xs);
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--small-size);
  color: var(--light-text-color);
}
.frame-group {
  align-self: stretch;
  justify-content: space-between;
  color: var(--primary-color);
}
.h5-product-title-1 {
  position: relative;
  font-size: var(--h5-size);
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  color: var(--dark-background-color);
  width: 131px;
}
.paragraph-product-description {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 20px;
  display: inline-block;
  width: 182px;
}
.sales {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.h5-price,
.h5-price1 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.h5-price1 {
  color: var(--secondary-color-1);
}
.prices {
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  text-align: center;
  font-size: var(--h5-size);
  color: var(--muted-color);
}
.frame-container,
.icon-akar-icons-calendar-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.icon-akar-icons-calendar-parent {
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-container {
  align-self: stretch;
  height: 46px;
  flex-shrink: 0;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: var(--small-size);
}
.icn-arrow-right-icn-xs1 {
  position: relative;
  width: 9.14px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-sm {
  border-radius: var(--br-18xl);
  border: 1px solid var(--primary-color);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--primary-color);
}
.frame-parent,
.product-card {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent {
  display: flex;
  padding: var(--padding-6xl) var(--padding-6xl) var(--padding-16xl);
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  color: var(--second-text-color);
}
.product-card {
  align-self: stretch;
  background-color: var(--light-text-color);
}
.col-md-3,
.product-actions1,
.product-card {
  display: flex;
  justify-content: flex-start;
}
.col-md-3 {
  width: 238px;
  flex-direction: column;
  align-items: center;
}
.product-actions1 {
  position: absolute;
  bottom: 24px;
  left: calc(50% - 69.5px);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.col-md-31,
.col-md-32 {
  flex-direction: column;
  align-items: center;
}
.col-md-31 {
  width: 241px;
  display: flex;
  justify-content: flex-start;
}
.col-md-32 {
  width: 240px;
}
.col-md-32,
.container3,
.row4 {
  display: flex;
  justify-content: flex-start;
}
.row4 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-11xl);
  text-align: center;
  color: var(--light-text-color);
}
.container3 {
  position: absolute;
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  flex-direction: column;
  padding: 112px 0;
  box-sizing: border-box;
  align-items: center;
  gap: 112px;
}
.layout-1 {
  position: relative;
  background-color: var(--light-text-color);
  width: 1440px;
  height: 1128px;
  overflow: hidden;
  flex-shrink: 0;
}
.testimonial-user-cover-23-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 128px;
  object-fit: cover;
}
.circle {
  position: relative;
  border-radius: var(--br-181xl);
  width: 128px;
  height: 128px;
  overflow: hidden;
  flex-shrink: 0;
}
.paragraph3 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 20px;
  display: inline-block;
  width: 320px;
}
.icn-bxs-star-icon {
  position: relative;
  width: 22.01px;
  height: 22.01px;
  overflow: hidden;
  flex-shrink: 0;
}
.stars {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.h69 {
  position: relative;
  font-size: var(--h6-size);
  letter-spacing: 0.2px;
  line-height: 24px;
  color: var(--second-text-color);
}
.h5-user-title-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-6xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--h5-size);
  color: var(--dark-background-color);
}
.card-content {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-11xl);
  gap: var(--gap-mini);
}
.card-content,
.col-md-61,
.testimonials-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.testimonials-card {
  align-self: stretch;
  background-color: var(--light-text-color);
  overflow: hidden;
  padding: var(--padding-6xl) var(--padding-6xl) 0;
}
.col-md-61 {
  width: 508px;
}
.paragraph4 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 20px;
  display: inline-block;
  width: 311px;
}
.col-md-62 {
  width: 512px;
  flex-direction: column;
}
.col-md-62,
.container4,
.row6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row6 {
  flex-direction: row;
  gap: var(--gap-11xl);
  text-align: center;
  color: var(--second-text-color);
}
.container4 {
  position: absolute;
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-141xl) 0;
  box-sizing: border-box;
  gap: 96px;
}
.layout-3 {
  position: relative;
  background-color: var(--light-text-color);
  width: 1440px;
  height: 865px;
  overflow: hidden;
  flex-shrink: 0;
}
.main-content3,
.row7 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main-content3 {
  width: 691px;
  gap: var(--gap-3xs);
}
.row7 {
  width: 692px;
}
.your-email {
  position: absolute;
  top: calc(50% - 14px);
  left: 20px;
  letter-spacing: 0.2px;
  line-height: 28px;
}
.form-control-input-style-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: #f9f9f9;
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
}
.input-group-text {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 36px);
  letter-spacing: 0.2px;
  line-height: 28px;
}
.btn {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: var(--primary-color);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.btn,
.input-group,
.input-group-append {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.input-group-append {
  height: 100%;
  bottom: 0;
  width: 117px;
  text-align: center;
  color: var(--light-text-color);
}
.input-group {
  width: 100%;
  left: 0;
  height: 58px;
}
.subscribe {
  position: relative;
  width: 688px;
  height: 363px;
}
.col-md-8,
.row8 {
  width: 688px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.row8 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  color: var(--second-text-color);
}
.container5 {
  position: absolute;
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-141xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.h3,
.layout-11 {
  position: relative;
}
.layout-11 {
  background-color: var(--light-text-color);
  width: 1440px;
  height: 594px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
}
.h3 {
  letter-spacing: 0.1px;
  line-height: 32px;
}
.facebook-icon,
.twitter-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.twitter-icon {
  height: 19.76px;
}
.social-media {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.col-md-34 {
  width: 238px;
  overflow: hidden;
  flex-shrink: 0;
  gap: 25px;
}
.col-md-34,
.col-md-35,
.div1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div1 {
  gap: var(--gap-3xs);
  font-size: var(--h6-size);
}
.col-md-35 {
  width: 241px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.col-md-36 {
  width: 240px;
  flex-shrink: 0;
}
.col-md-36,
.col-md-37,
.row9 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.row9 {
  width: 1046px;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.container6,
.div {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.container6 {
  left: calc(50% - 525px);
  width: 1050px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.div {
  left: calc(50% - 720px);
  background-color: var(--dark-background-color);
  width: 1440px;
  height: 338px;
}
.col-md-63 {
  width: 513px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container7,
.div4 {
  position: absolute;
  overflow: hidden;
}
.container7 {
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.div4 {
  top: 338px;
  left: calc(50% - 720px);
  background-color: var(--light-gray-1);
  width: 1440px;
  height: 76px;
  font-size: var(--h6-size);
  color: var(--second-text-color);
}
.course-egghead,
.footer {
  position: relative;
  overflow: hidden;
}
.footer {
  background-color: var(--light-gray-1);
  width: 1440px;
  height: 414px;
  flex-shrink: 0;
  font-size: var(--h3-size);
  color: var(--light-text-color);
}
.course-egghead {
  text-decoration: none;
  background-color: var(--light-text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--h6-size);
  color: var(--primary-color);
  font-family: var(--h6);
}
